<h1 style="color:blue;" > Blog Post </h1> 
<% @blogs.each do |blog| %> 
<ul>
<li> <%= link_to blog.title, blog_path(blog) %> </li>
</ul>
<% end %> 
<li> <%= link_to 'Create Blog', new_blog_path %> </li>